<% layout("layout/boilerplate.ejs") -%>

    <div class="alert alert-success" role="alert">
        <h4 class="alert-danger">Oh no, something went wrong!</h4>
        <p>Status Code: <%= status %>
        </p>
        <hr>
        <p class="mb-0">
            <%= message %>
        </p>
    </div>