<% layout("layout/boilerplate.ejs") -%>

    <form method="POST" action="/campgrounds/<%=campground._id %>?_method=PUT">
        <label for="title">Title</label>
        <input id="title" type="text" value="<%= campground.title %> " name="campground[title]">
        <label for="location">Location</label>
        <input id="location" type="text" value="<%= campground.location %> " name="campground[location]">
        <button>Edit Campground</button>
    </form>