<% layout("layout/boilerplate.ejs") -%>
    <div class="row">

        <div class="col-6 offset-3">
            <h1 class="text-center">Add a New GeoCache</h1>
            <form method="POST" class="validated-form" action="/campgrounds" novalidate enctype="multipart/form-data">
                <div>
                    <label for="title" class="form-label">Title</label>
                    <input required class="form-control" id="title" type="text" placeholder="Title"
                        name="campground[title]">
                </div>
                <div class="mt-2">
                    <label class="form-label" for="location">Location</label>
                    <input required class="form-control" id="location" type="text" placeholder="Location"
                        name="campground[location]">
                </div>
                <div class="mt-2">
                    <label for="image" class="form-label">Upload Images</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>

                </div>
                <div class="mt-2">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input required id="price" type="text" class="form-control" placeholder="0.00"
                            aria-label="Amount (to the nearest dollar)" name="campground[price]">
                    </div>
                </div>

                <div class="mt-2">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" id="description" name="campground[description]" required></textarea>
                </div>

                <button class="btn mt-3 btn-success"> Submit</button>
            </form>
        </div>

    </div>