<% layout("layout/boilerplate.ejs") -%>
    <form method="POST" action="/campgrounds">
        <label for="title">Title</label>
        <input id="title" type="text" placeholder="title" name="campground[title]">
        <label for="location">Location</label>
        <input id="location" type="text" placeholder="location" name="campground[location]">
        <button>Submit</button>
    </form>