<% layout("layout/boilerplate.ejs") -%>
    <div class="row">

        <div class="col-6 offset-3">
            <h1 class="text-center">Add a New GeoCache</h1>
            <form method="POST" class="validated-form" action="/geocaches" novalidate enctype="multipart/form-data">
                <div>
                    <label for="title" class="form-label">Title</label>
                    <input required class="form-control" id="title" type="text" placeholder="Title"
                        name="geocache[title]">
                </div>
                <div class="mt-2">
                    <label class="form-label" for="location">Location</label>
                    <input required class="form-control" id="location" type="text" placeholder="City, State"
                        name="geocache[location]">
                </div>
                <div class="mt-2">
                    <label for="image" class="form-label">Upload Images</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>

                </div>
                <div class="mt-2">
                    <label class="form-label" for="latitude">Latitude</label>
                    <div class="input-group">
                        <input required id="latitude" type="text" class="form-control" placeholder="00.0000"
                            aria-label="Latitude" name="geocache[latitude]">
                    </div>
                </div>
                <div class="mt-2">
                    <label class="form-label" for="longitude">Longitude</label>
                    <div class="input-group">
                        <input required id="longitude" type="text" class="form-control" placeholder="00.0000"
                            aria-label="Longitude" name="geocache[longitude]">
                    </div>
                </div>

                <div class="mt-2">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" id="description" name="geocache[description]" required></textarea>
                </div>

                <button class="btn mt-3 btn-success"> Submit</button>
            </form>
        </div>

    </div>